.main {
    background-color: whitesmoke;
    margin-left: 50px;
    margin-right: 50px;
    
}

.featured {
    margin-top: 15px;
}

.artistCarousel {
    margin-bottom: 150px;
}
/* carousel {
    width:900px;
    height: 500px;
    margin: auto;
} */

/* .card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 95vw;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    overflow-y: scroll;
}
  
.card .row .img-container {
    /* height: 100%; */
    /* width: 100%;
    overflow: hidden;
    text-align: center;
    /* background:#6CADDC; */
/* }

.card .img-container img {
    width: 60%
}
  
.card .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
}
  
.card > .content > ul {
    list-style-type: none;
}
  
.card > .content > ul > li {
    margin-top: 18px;
}
   */ 

   