.main {
    /* background-color: whitesmoke; */
    margin-left: 50px;
    margin-right: 50px;
    color: #A2A5A8;
    margin-top: 2vh;
    margin-bottom: 0;
    
}

.featured {
    margin-top: 15px;
}

.artistCarousel {
    margin-bottom: 150px;
}


a .fa {
    color: #A2A5A8;
}

.jumbotron {
    padding-top: 2px;
    
}

.instaBtn {
    background: transparent;
    color: #A2A5A8;
    /* border: none; */
    border-radius: 25px;
  border: 2px solid #343A40;
  font-size: 4vh;
}

.instaBtn:hover {
    color: #343A40;
    background: #9977b4; /* Old browsers */
	background: -moz-linear-gradient(left,  #9977b4 1%, #dd86b9 11%, #f497aa 21%, #f9b48a 31%, #fdcd7b 42%, #fef79f 53%, #c0de96 65%, #95d4c1 76%, #81d2e3 88%, #87b8e1 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
}
/* carousel {
    width:900px;
    height: 500px;
    margin: auto;
} */

/* .card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 95vw;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    overflow-y: scroll;
}
  
.card .row .img-container {
    /* height: 100%; */
    /* width: 100%;
    overflow: hidden;
    text-align: center;
    /* background:#6CADDC; */
/* }

.card .img-container img {
    width: 60%
}
  
.card .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
}
  
.card > .content > ul {
    list-style-type: none;
}
  
.card > .content > ul > li {
    margin-top: 18px;
}
   */ 

   