.dropdowner {
    background: #9977b4; /* Old browsers */
	background: -moz-linear-gradient(left,  #9977b4 1%, #dd86b9 11%, #f497aa 21%, #f9b48a 31%, #fdcd7b 42%, #fef79f 53%, #c0de96 65%, #95d4c1 76%, #81d2e3 88%, #87b8e1 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 3vh;
    height: 6vh;
    transition: height 0.6s;
    z-index: 1;
    /* overflow-y: scroll; */
}

.dropdowner p {
    display: none;
    transition: display 0.6s;
    z-index: 1;
}

.dropTitle {
    font-size: calc(10px + 2vmin);
}

.dropdowner:hover {
    height: 50vh;
    overflow-y: scroll;
    z-index: 1;
}

.dropdowner:hover::-webkit-scrollbar { 
    display: none;
    z-index: 1;
} 

.dropdowner:hover p {
    display: block;
    z-index: 1;
}


.listHolder:hover {
    background-color: whitesmoke;
    opacity: .6;
    border-radius: 3vh;
}

.arthead {
    background: #9977b4; /* Old browsers */
	background: -moz-linear-gradient(left,  #9977b4 1%, #dd86b9 11%, #f497aa 21%, #f9b48a 31%, #fdcd7b 42%, #fef79f 53%, #c0de96 65%, #95d4c1 76%, #81d2e3 88%, #87b8e1 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9977b4', endColorstr='#87b8e1',GradientType=1 ); /* IE6-9 */
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vh;
}

.artbtn {
    border-radius: 5vh;
    height: 6vh;
    width: 100%;
    background: #9977b4; /* Old browsers */
	background: -moz-linear-gradient(left,  #9977b4 1%, #dd86b9 11%, #f497aa 21%, #f9b48a 31%, #fdcd7b 42%, #fef79f 53%, #c0de96 65%, #95d4c1 76%, #81d2e3 88%, #87b8e1 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #9977b4 1%,#dd86b9 11%,#f497aa 21%,#f9b48a 31%,#fdcd7b 42%,#fef79f 53%,#c0de96 65%,#95d4c1 76%,#81d2e3 88%,#87b8e1 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.artbtn h3 {
    color: black;
    font-size: calc(10px + 2vmin);

}

.art-row {
    max-height: 6vh;
    max-width: 100vw;
    padding-left: 5vw;
}

.zoomUp {
    z-index: -1;
}

@media screen and (max-width: 490px) {
    .dropdowner h3 {
        font-size: .8rem;
    
    }
    .dropdowner {
        height: 5vh;
    }

}
