.navLinks {
    position: fixed;
    right: 0;
    top: 20vh;
    width: 3vw;
    transition: width 0.6s;
    height: 45vh;
    background-color: gray;
    opacity: .5;
    z-index: 2;

}

.nav-tabs {
    text-align: left;
    opacity: 0;
    transition: opacity 0.6s;
}

/* .navLinks:hover + .navHidden {
    display: block;
    width: 20vw;
} */

.navLinks:hover {
    width: 20vw;
}

.nav-tabs:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .nav-tabs {
        opacity: 1;
    }
}