body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

/* #map {
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    width: 100%;
} */ */

#container { 
    height: 180px;
    width: 75%;
}

.leaflet-container {
    height: 465px;
    width: 100%;
    border-radius: 25px;
  border: 2px solid #343A40;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
  }

.info-box {
    /* position: absolute; */
    margin: 20px;
    width: 25%;
    top: 0;
    bottom: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: 0.8em;
    line-height: 2em;
}

#container {
    margin-top: 2vh;
    
}

#info {
    font-size: 16px;
    font-weight: bold;
}

.popup-image {
    width: 15vh;
}

.popup-title {
 font-size: 1.2rem
}

.neighborhoodHeader {
    color: #A2A5A8;
    margin-top: 2vh;
    margin-bottom: 0;
}

.btn {
    margin: 1vh;
}

.start-route {
    color: white;
}

button .murals {
    color: #343A40;
    text-shadow: 2px 2px 5px #2780CA;
    font-weight: 650;
}



button .breweries {
    color: #343A40;
    text-shadow: 2px 2px 5px #9F22CA;
    font-weight: 650;
}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
}

.directionsContainer {
    height: 465px;
    width: 100%;
    border-radius: 25px;
    color: #A2A5A8;
  border: 2px solid #343A40;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
  overflow-y: scroll;
  
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #668586;
    border-radius: 25px;
}

::-webkit-scrollbar {
	width: 12px;
    background-color: #343A40;
     border-radius: 25px;
    
}

.artListContainer {
    height: 465px;
    width: 100%;
    border-radius: 25px;
  border: 2px solid #343A40;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534), 0 6px 20px 0 rgba(0, 0, 0, 0.534);
}

#mapPageContent p {
    color: #A2A5A8;
} 

.directionsContainer h3 {
    color: #A2A5A8;
}

.cursorChange {
    cursor: pointer;
    color: #989DC6!important;
    size: 1rem;
}

.cursorChange:hover {
    color: #82AEB1!important;
    text-decoration: underline;
}

.cursorChange:active {
    color: #93C6D6!important;
}

.cursorChange:visited {
    color: #668586!important;
}

.btn:active {
    filter: brightness(70%);
}